/ %h1= @game_instance.name
/ %h3
/   %span Your score is
/   %span#game-score= @game_instance.test_value

/ = form_for @game_instance, method: :put, remote: true do |f|
/   = f.submit "Increment"

#gamerails
- if @game_instance.status == "won"
  = image_tag("trophy.jpg")
- elsif @game_instance.status == "lost"
  = image_tag("tombstone.jpg")
- else
  #orientation
  :javascript
    (function () {
        var game = new Phaser.Game(512, 384, Phaser.CANVAS, 'game');

        game.state.add('Boot', Appleheels.Boot);
        game.state.add('Preloader', Appleheels.Preloader);
        game.state.add('MainMenu', Appleheels.MainMenu);
        game.state.add('Game', Appleheels.Game);

        game.state.start('Boot');

        game.gameId = "#{@game_instance.id}";
        game.bounce = "#{@game_instance.game_attribute.bounce}"
        game.x_velocity = "#{@game_instance.game_attribute.x_velocity}"
        game.y_velocity = "#{@game_instance.game_attribute.y_velocity}"
        game.y_gravity = "#{@game_instance.game_attribute.y_gravity}"
        game.angle = "#{@game_instance.game_attribute.angle}"
        game.sprite = "#{@game_instance.game_attribute.sprite}"

    })();

  .change-attributes
    = form_for @game_instance.game_attribute, url: game_instance_path(@game_instance.id), method: :put, remote: true do |f|
      = f.label :bounce, "Bounce"
      = f.text_field :bounce
      = f.label :x_velocity, "X Velocity"
      = f.text_field :x_velocity
      = f.label :y_velocity, "Y Velocity"
      = f.text_field :y_velocity
      = f.label :y_gravity, "Y Gravity"
      = f.text_field :y_gravity
      = f.label :angle, "Angle"
      = f.text_field :angle
      = f.label :sprite, "Sprite"
      = f.text_field :sprite
      = f.submit "Change Attributes"