/ %h1= @game_instance.name
/ %h3
/   %span Your score is
/   %span#game-score= @game_instance.test_value

/ = form_for @game_instance, method: :put, remote: true do |f|
/   = f.submit "Increment"

#gamerails
- if @game_instance.status == "won"
  = image_tag("trophy.jpg")
- elsif @game_instance.status == "lost"
  = image_tag("tombstone.jpg")
- else
  #orientation
  :javascript
    (function () {
        var game = new Phaser.Game(512, 384, Phaser.CANVAS, 'game');

        game.state.add('Boot', Appleheels.Boot);
        game.state.add('Preloader', Appleheels.Preloader);
        game.state.add('MainMenu', Appleheels.MainMenu);
        game.state.add('Game', Appleheels.Game);
        game.state.add('TerminalMenuOne', Appleheels.TerminalMenuOne);
        game.state.add('TerminalMenuTwo', Appleheels.TerminalMenuTwo);
        game.state.add('TerminalMenuThree', Appleheels.TerminalMenuThree);

        game.state.start('Boot');

        game.gameId = "#{@game_instance.id}";
        game.jumpPower = "#{@game_instance.jump_power}";
        game.downMethod = "#{@game_instance.down_method}";
        game.objectives = "#{@game_instance.objectives}";
        game.downCount = 0;
        game.objectiveCount = 0;


      })();
= @game_instance.jump_power
= @game_instance.down_method
= @game_instance.objectives